

    <!-- Features Section -->
    
    <section class="features" data-aos="fade-down" data-aos-delay="200" data-aos-duration="900">
        
        <div class="main-feature" >
            <div class="heading-container">
                <h1>Home phone <span style="color: #FFC200;">seamless and reliable</span></h1>
                {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p> --}}
            </div>
            
            
              
                <div class="gradient-cards">
                            <div class="card">
                                <div class="container-card bg-orange-box">
                                    <i class="fa-solid fa-trophy"></i>
                                    <p class="card-title">Perfect clarity on every call every time without blackouts</p>
                                    <p class="card-description">Our Internet based VOIP home phone service guarantees you can communicate and stay connected seamlessly even during severe weather conditions, emergency community events, blackouts or mobile phone disruptions.</p>
                                    <a href="/service" class="feature-card-btn">Compare Plans</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="container-card bg-orange-box">
                                    <i class="fas fa-phone"></i>
                                    <p class="card-title">Stay Connected</p>
                                    <p class="card-description">Make and receive calls day or night, you're never alone and you're never out of touch. Make any long distance calls anywhere in the Continental USA or its territories and also make calls to Canada in Mexico for free and talk as long as you like with perfect clarity. Long distance international calling is also available at preferred rates.</p>
                                    <a href="/service" class="feature-card-btn">Compare Plans</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="container-card bg-orange-box">
                                    <i class="fa-solid fa-piggy-bank"></i>
                                    <p class="card-title">Seamless Calls. Better Savings</p>
                                    <p class="card-description">Crystal Clear reception from your home based phone, guarantees you'll never be out of touch again and ensures your loved one's can reach you when cell phone service is disrupted. Call 911 anytime and always.</p>
                                    <a href="/service" class="feature-card-btn">Compare Plans</a>
                                </div>
                            </div>
                 
                </div>
              
            
               
            
    
        </div>
        
        
    </section>
    
{{!-- <section class="features" >
        
        <div class="main-feature" >
            
            <div class="heading-container">
                <h1>Xstream <span style="color: #ffa039;">Internet & phone</span></h1>
                <p>Affordable plans for up to 100MB/s plus unlimited calls to the US, Canada, and Puerto Rico</p>
            </div>
                
            <div class="card-containers">
                <!-- Internet Plan Card -->
                <div class="cards">
                  <h3 class="cards-title">Add Lightning-Fast Internet</h3>
                  <div class="cards-content">
                    <p>
                      Our lightweight technology makes the most of every MB. Choose from flexible internet plans that suit your needs!
                    </p>
                    {{#if internet}}
                    <div class="speed-options">
                        {{#each internet.data}}
                       {{#if thispurchased}}
                        <button>
                            <input type="radio" name="internet" checked class="internet-plans" id={{_id}}>
                            {{Name}}
                            <label for="plan1" class="plan-label">${{Price}}/mo</label>
                        </button>
                        {{else}}
                        <button>
                            <input type="radio" name="internet"  class="internet-plans" id={{_id}}>
                            {{Name}}
                            <label for="plan1" class="plan-label">${{Price}}/mo</label>
                        </button>
                        {{/if}}
                      {{/each}}
                      <!-- <button><input type="radio" name="internet" id="plan2">50 MB</button>
                      <button><input type="radio" name="internet" id="plan3">100 MB</button> -->
                    </div>
                    {{/if}}
                    <!-- <ul class="price-options">
                      <li><input type="radio" name="internet" id="plan1"><label for="plan1">25 MB - $41.95/mo</label></li>
                      <li><input type="radio" name="internet" id="plan2"><label for="plan2">50 MB - $61.95/mo</label></li>
                      <li><input type="radio" name="internet" id="plan3"><label for="plan3">100 MB - $91.95/mo</label></li>
                    </ul> -->
                    {{#if internet.purchased}}
                         <button class="primary-button" id="internetbtn">Remove Internet</button>
                    {{else}}
                       <button class="primary-button" id="internetbtn">Add Internet</button>
                    {{/if}}
                    
                  </div>
                </div>
          
                <!-- Phone Plan Card -->
                <div class="cards">
                  <h3 class="cards-title">Add Crystal-Clear Calls</h3>
                  <div class="cards-content">
                    <p>
                      Add a phone line. Includes free calls to the US, Canada, and Puerto Rico.
                    </p>
                    {{#if phone}}
                    <div class="speed-options">
                        {{#each phone.data}}
                        {{#if thispurchased}}
                      <button>
                        <input type="radio" checked name="phone" id={{_id}}>
                        {{Name}}
                        <label for="plan1" class="plan-label">${{Price}}/mo</label>
                      </button>
                      {{else}}
                      <button>
                        <input type="radio" name="phone" id={{_id}}>
                        {{Name}}
                        <label for="plan1" class="plan-label">${{Price}}/mo</label>
                      </button>
                      {{/if}}
                      {{/each}}
                      <!-- <button><input type="radio" name="internet" id="plan2">50 MB</button>
                      <button><input type="radio" name="internet" id="plan3">100 MB</button> -->
                    </div>
                    {{/if}}
                    <!-- <img src="images/icons8-voip.svg" alt="Phone Icon" class="icon"> -->
                        {{#if phone.purchased}}
                         <button class="primary-button" style="margin-top: 20%!important;" id="phonebtn">Remove Phone</button>
                        {{else}}
                       <button class="primary-button" style="margin-top: 20%!important;" id="phonebtn">Add Phone</button>
                        {{/if}}
                   
                  </div>
                </div>
              </div>
            
    
        </div>
        
        
    </section> --}}

    


    

  